page-profile {

}
.up-arrow {
	border-color:#3a4f62 transparent;
	border-style: solid;
	border-width: 0px 7px 7px 7px;
	height: 0px;
	width: 0px;
}

.col1{
    justify-content:center;
    background-color:#1f2933
}
