<!-- Generated template for the HeaderComponent component -->

<ion-navbar style="position:relative;">
     <button ion-button menuToggle class="hamberger-menu">
      <ion-icon name="menu"></ion-icon><span class="text-hamberger-menu">{{'menu_text' | translate }}</span>
     </button>
    <p style="justify-content:top;text-align:center;color:#FFF;line-height:15px;margin-top:10px">
      <img src="assets/home-gg.png" width="50%" /><br />
      <span style="font-size: 110%">{{'slogan_text' | translate}}</span></p>
  
  </ion-navbar>

